.badge {
    font-size: 90%;
    margin-left: 1em;
}

.badge-required {
    color: #d44950;
}

.badge-optional {
    color: #737373;
    visibility: hidden;
    display: none;
}

iframe .container {
    max-width: 1140px !important;
    border: none !important;
}

/*==========  非モバイル・ファーストの場合  ==========*/

/* Lサイズ、ワイドスクリーン : Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Mサイズ、デスクトップ : Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Sサイズ、タブレット : Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	#res_text span {font-size: 2rem;}
}

/* XSサイズ : Extra Small Devices, Phones */  
@media only screen and (max-width : 480px) {
}

/* カスタム, iPhone Retinaディスプレイ */ 
@media only screen and (max-width : 320px) {
}